[Unit]
Description=Systemec Monitoring Tool Server
After=network.target

[Service]
Type=simple
ExecStart=/etc/opt/semt/Server/SEMTSa

[Install]
WantedBy=multi-user.target