[Unit]
Description=Systemec Monitoring Tool Server
After=network.target

[Service]
Type=simple
ExecStart=/etc/opt/semt/server/SEMTS

[Install]
WantedBy=multi-user.target