[Unit]
Description=Systemec Monitoring Tool Agent
After=network.target

[Service]
Type=simple
ExecStart=/etc/opt/semt/Server/SEMTA

[Install]
WantedBy=multi-user.target
